<h1>PokeFightz</h1>

<% if user_signed_in? %>
  <h4><%=current_user.username%>, are you ready to play?<h4>
     <h4>If so, <a href="/games">click here!</a></h4>
<% else %>
  <h3>If you want to have a Pokemon Battle..</h3>
  <%= link_to "register", new_user_registration_path %> OR <%= link_to "login", new_user_session_path %>
<% end %>
