<%= form_for @pokemon_game, :html => {:class => "form-horizontal center"} do |f| %>
     <div class="form-group">
       <%= f.label :pokemon1, "Pokemon 1:", class: "col-md-2 control-label" %>
       <div class="col-md-8">
         <%= f.text_field :pokemon, class: "form-control" %>
       </div>
     </div>

     <%= f.submit "Submit", class: "btn btn-default btn-primary" %>
<% end %>
