<div class="new-game-form">

  <%= form_for @pokemon_game, :html => {:class => "form-horizontal center"} do |f| %>
  <div class="form-group">
    <%= f.label :pokemon1, "Pokémons:", class: "col-md-2 control-label" %>
    <div class="col-md-8">
      <%= f.text_field :pokemon, placeholder: "e.g charmander, squirtle, rattata", class: "form-control" %>
    </div>
    <%= f.submit "submit", class: "col-md-1 btn btn-outline-danger" %>
  </div>

  <% end %>
</div>
