<h3>Choose 5 pokemons to fight with</h3>

<%= render "new_game_form"%>

<br>

<div class="pokemon-names">
  <h4>Scroll to see some optional pokemons to choose from</h4>
  <div class="scroll-names">
    <ul>
      <%= @pokemons.each do |pokemon| %>
        <li><%=pokemon.name%></li>
      <% end %>
    </ul>
  </div>
</div>
