.register-login-buttons {
   display: inline-block;
   width:100%;
}
.scroll-names {
  border: none;
  padding: 5px;
  width: 270px;
  height: 200px;
  overflow: scroll;
}

.scroll-names ul li {
  list-style: none;
}

.pokemon-names {
  margin-bottom: 30px;
}

.type-name {
  list-style: none;
}
